ul {
	list-style: none;
	padding: 0;
}
#left-list {
	width: 50%;
	float: left;
}
#right-list {
	width: 50%;
	float: right;
}
.trade {
	position: absolute;
	bottom: 500px;
}
.right {
	float: right;
	width: 50%;
}
.left {
	float: left;
	width: 50%;
}
