* {
	border: 0;
	margin: 0;
}
.app {
	display: flex;
	/* margin: 1%; */
	overflow: hidden;
	/* height: 100vh; */
	/* display: flex; */
	/* flex-direction: column; */
}
.current-trade {
	flex: 3 4 auto;
	flex-direction: column;
	/* overflow-y: hidden; */
	height: 100vh;
	overflow-x: hidden;
	/* margin-right: -12px; */
	/* margin-top: 1%; */
	/* display: flex; */
	/* border: 1px solid #000; */
}
.previous-trades {
	flex: 0 1 auto;
	flex-direction: column;
	overflow-y: auto;
	height: 100vh;
	margin-right: -13px;
	overflow-x: hidden;
}

.previous-trades h1 {
	text-align: center;
	margin: 1%;
	/* position: fixed; */
}
.listed-trade {
	z-index: 3;
	display: flex;
	/* flex: 1; */
	border: 1px solid black;
	padding: 2% 0 2% 0;
	/* background-color: #ecece9; */
}
.logo {
	flex: 3;
	object-fit: contain;
}
.trade-logo {
	object-fit: scale-down;
	margin-top: 4%;
}
.logo-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.votes {
	margin-top: 3%;
}
.vs {
	margin: auto;
	flex: 1;
	text-align: center;
}
#teams-wrapper {
	display: flex;
}
.voting {
	display: flex;
	/* flex: 3; */
	background-color: #f1f1f1;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	border: 1px solid #000;
	/* margin: 0 auto; */
}

.team-one {
	flex-direction: column;
	display: flex;
	flex: 1;
}
.team-two {
	flex-direction: column;
	display: flex;
	flex: 1;
	border-right: 2px solid #000;
}

.player {
	margin: 0 auto;
	/* justify-content: center; */
	padding: 5% 0 5% 0;
	/* background-color: #efefef; */
}
.portrait {
	display: flex;
	margin-bottom: 1%;
}
.pic {
	height: 100px;
}
.info {
	margin: 4% 0 0 4%;
}
.categories {

}
.stats {

}
table {
	border-collapse: collapse;
}
td, th {
	padding: 0.2rem;
	text-align: center;
	border: 1px solid #999;
}
.vote-buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
	order: 2;
	margin: 3% 0 0 0;
}
.wins {
	border-top: 1px solid #0e2b0d;
	/* background: #2b7d30; */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#3e9c62), to(#2b7d30)); */
	/* background: -webkit-linear-gradient(top, #3e9c62, #2b7d30); */
	background: -moz-linear-gradient(top, #3e9c62, #2b7d30);
	background: -ms-linear-gradient(top, #3e9c62, #2b7d30);
	background: -o-linear-gradient(top, #3e9c62, #2b7d30);
	padding: 20px 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	/* -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; */
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	/* text-shadow: rgba(0,0,0,.4) 0 1px 0; */
	/* color: white; */
	font-size: 15px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	}
.wins:hover {
   background: #fff;
   color: #000;
}

.wins:active {
	font-size: 14px;
}
.realistic {
	border: 1px solid #1a0d29;
	background: -moz-linear-gradient(top, #3e4e9c, #2c2d7d);
	background: -ms-linear-gradient(top, #3e4e9c, #2c2d7d);
	background: -o-linear-gradient(top, #3e4e9c, #2c2d7d);
	padding: 2px 4px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	font-size: 18px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}
.realistic:hover {
	background: #fff;
   color: #000;
}
.realistic:active {
	font-size: 17px;
}

.trade-button {
   cursor: pointer;
   order: 3;
   border: 1px solid #000;
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 13px 26px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   font-size: 20px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 3% 0;
   }
.trade-button:hover {
   background: #fff;
   color: #000;
}
.trade-button:active {
	font-size: 19px;
}
.question {
	order: 1;
	cursor: default;
}
@media (max-width: 900px) {
	.app {
		flex-direction: column;
	}
}
@media (min-width: 900px) {
	.current-trade {
		height: 100vh;	
	}
}