ul {
	list-style: none;
	padding: 0;
}
.team-one {
	width: 50%;
	float: left;
}
.team-two {
	width: 50%;
	float: right;
}
.trade {
	position: absolute;
	bottom: 570px;
}
.right {
	float: right;
	width: 50%;
}
.left {
	float: left;
	width: 50%;
}
